<table class="table">
	<tr>
		<th>Street Number</th>
		<th>Street</th>
		<th>City</th>
		<th>State</th>
		<th>Zipcode</th>
		<th>Country</th>
		<th>Phone</th>
	</tr>
	<tr>
		<th><%= address.street_number %></th>
		<th><%= address.street %></th>
		<th><%= address.city %></th>
		<th><% address.state %></th>
		<th><%= address.zipcode %></th>
		<th><%= address.country %></th>
		<th><%= address.phone %></th>
	</tr>
</table>