<h1>Address Show</h1>

<div class="address">
	<div>
		<h2><%= @address.street_number %> <%= @address.street %></h2>
		<h2><%= @address.city %>, <%= @address.state %></h2>
		<h2><%= @address.zipcode %></h2>
		<h2>Phone: <%=@address.phone %></h2>
	</div>
</div>